# Example Node gitgnore: https://github.com/github/gitignore/blob/master/Node.gitignore

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies
node_modules/

# webpack output directory
dist
